.cover__link {
  text-decoration: none;
  height: 100%;
  width: 100%;
  background: #2a2c2f;
  background-color: rgba(42, 44, 47, .3);
  transition: 1s;
  position: absolute;
  top: 0;
  right: 0; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.cover__link:hover {
  background-color: rgba(42, 44, 47, .8);
  transition: 1s;
}
