.paragraphs__text {
  margin: 0 0 24px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  color: #FFFFFF;
}

.paragraphs__text:nth-last-child(1) {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .paragraphs__text {
    font-size: 16px;
  }
}