.place__paragraphs-text {
  margin: 0 0 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  color: #FFFFFF;
}

.place__paragraphs-text:nth-last-child(1) {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place__paragraphs-text {
    font-size: 16px;
  }
}